#Title{
    background: linear-gradient(to left, #fbd3e9, #dba5ab);
}

#Cont{
    background-color: #e1e1e1;
}

.form-floating input{
    box-shadow: 1px 1px 20px -5px;
}

.list-group{
    box-shadow: 6px 5px 6px;
}

.accordion-item button {
    box-shadow: 1px 1px 20px -5px;
    border-radius: 5px;
    margin-top: 5px;
}