.main-footer{
    background-color: #dba5ab;
    color: #f6eeee;
}

.homepage-divider{
    height: 3rem;
    background-color: #f4f6f9;
    border: solid rgba(0, 0, 0, .15);
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.homepage-divider-1{
    height: 2rem;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 1px 0;
}

.main-footer .footer_title strong{
    font-size: 1.5rem;
    color: #ffffff;
}

hr.footer_page{
    background-color: #292929;
}

hr.footer_hr{
    background-color: #ffffff;
}

.carousel-indicators>button{
    background-color: rgb(79, 79, 79) !important;
}

.carousel .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4F4F4F' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel .carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4F4F4F' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .17s;
}

.carousel .carousel-inner .carousel-item>img.banner_main{
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.carousel .carousel-inner .carousel-item>img.product_banner{
    height: 244px;
    object-fit: cover;
    object-position: center;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.card .card-body>h5.card-homepage-title{
    font-size: 4rem !important;
    font-weight: 506 !important;
}

.card .card-body>h1.card-homepage-title{
    font-size: 2rem !important;
    font-weight: 400 !important;
}

.card .card-body>p.card-homepage-text{
    font-size: 1.3rem !important;
}


